@font-face {
  font-family: '001Shirokuma-Regular.otf';
  src: url('./../fonts/001Shirokuma-Regular.otf') format('truetype');
  src: url('./../fonts/PixelMplus12-Bold.ttf') format('truetype');
  src: url('./../fonts/PixelMplus12-Regular.ttf') format('truetype');
}